.container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #97dcf1;
}

.header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.admin-container {
    padding: 50px;
    text-align: center;
}

.admin-container h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.admin-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.admin-form h3 {
    margin-bottom: 15px;
}

.admin-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}

.admin-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-form button {
    width: 100%;

    padding: 10px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.footer {
    background-color: #e9ecef;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
.logout-btn {
    background-color: #97dcf1; 
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.logout-btn:hover {
    background-color: #97dcf1; 
    transform: scale(1.05); 
}

.logout-btn:active {
    background-color: #c2e5f0;
    transform: scale(0.95);
}
.nav-title {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-title:hover {
    color: #d9d9d9; 
}

strong{
    color:#ffffff;
}
@media (max-width: 768px) {
    body {
        font-size: 14px; 
        margin: 10px;
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto; 
    }

    th, td {
        padding: 8px;
        font-size: 12px;
    }
}