<div class="container">
    <header class="header">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div><strong>Pet Shop</strong></div>
        <nav>
            <a routerLink="/home" class="nav-link">Home</a>
            <a routerLink="/contacto"class="nav-link">Contacto</a>
            <a routerLink="/login"class="nav-link">Login</a>
        </nav>
    </header>
    <section class="main-container">
        <div class="info-section">
            <h1>Bienvenido a Mi pequeño Pet Shop</h1>
            <p>Encuentra los mejores productos para tu mascota con entrega rápida y segura.</p>
            <button routerLink="/productos" class="logout-btn">Ver Productos</button>
        </div>
        <div class="image-section">
            <img src="assets/img/pet_shop.avif" alt="Imagen de mascota">
        </div>
    </section>
    <footer class="footer">
        &copy; 2025 Pet Shop - Todos los derechos reservados.
    </footer>
</div>
