<div class="container">
    <header class="header">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div><strong>Pet Shop</strong></div>
        <nav>
            <a routerLink="/home" class="nav-link">Home</a>
            <a routerLink="/login" class="nav-link">Login</a>
        </nav>
    </header>

    <section class="contact-container">
        <div class="image-section">
            <img src="assets/img/pet_shop.avif" alt="Imagen de mascota">
        </div>
        <div class="contact-info">
            <p>
                Correo: mipequeñopet&#64;hotmail.com
            </p>
        </div>
    </section>

    <footer class="footer">
        &copy; 2025 Pet Shop - Todos los derechos reservados.
    </footer>
</div>
