<div class="container">
    <header class="header">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div><strong>Pet Shop</strong></div>
        <nav>
            <a routerLink="/home" class="nav-link">Home</a>
            <a routerLink="/pedidos" class="nav-link">Pedidos</a>
            <button (click)="cerrarSesion()" class="logout-btn">Cerrar Sesión</button>
        </nav>
    </header>

        <h2>Lista de Productos</h2>
        <table class="product-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productos">
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td style="color: green;">${{ producto.precio }}</td>
                    <td>
                        <button (click)="comprarProducto(producto)" class="logout-btn">Comprar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    <footer class="footer">
        &copy; 2025 Pet Shop - Todos los derechos reservados.
    </footer>
</div>
